.hero-section{
    position: relative;
                    @media screen and (min-width:768px) {
                        &::before{
                        content: "";
                        background-image: url(../images/bg-01.jpg);
                        position: absolute;
                        left: 0;
                        bottom: 0;
                        width: 100%;
                        height: 100%;
                        background-repeat: no-repeat;
                        background-size: contain;
                        opacity: 0.4;
                    }
                    }
    .hero-grid-area{
        @media screen and (min-width:768px) {
            display: flex;
        flex-wrap: wrap;
        align-items: center;
        position: relative;
        }
        .hero-grid-items{
           @media screen and (min-width:768px) {
            flex: 0 0 50%;
                max-width: 50%;
           }
                &:first-child{
                    text-align: -webkit-center;
                }
            .top-heads{
                text-align: center;
                color: $colorFourth;
                @include respond (maxWidth768) {
                    margin-top: 4rem;
                }
                span{
                    font-size: 16px;
                    text-transform: uppercase;
                    font-weight: 600;
                    background: $colorFourth;
                    color: $colorWhite;
                    padding: 1px 6px;
    display: inline-block;
    margin-bottom: 7px;
                }
                .hero-top-heading{
                        font-size: 18px;
                    }
            }
            .date{
                border-top: 3px solid;
                border-bottom: 3px solid;
                border-color: $colorPrimary;
                padding: 0.5rem 6rem;
                margin-top: 2rem;
                width: fit-content;
                p{
                    margin-bottom: 0;
                    text-align: center;
                    font-weight: 700;
                    color: $colorPrimary;
                    font-size: 2rem;
    text-transform: uppercase;
                }
            }
            .literater-bg{
                background: $colorPrimary;
                color: $colorWhite;
                text-align: center;
                padding: 3rem;
                margin-top: 5rem;
                p{
                    font-weight: 100!important;
                    font-size: 36px;
                }
            }
            .hero-slider{
                .hero-slider-area{
                    display: grid;
                    grid-template-columns: repeat(2, 1fr);
                    grid-auto-rows:calc(50vh - 2px);
                    gap: 4px;
                    .hero-slider-items{
                        overflow: hidden;
                        &:nth-child(1){
                            grid-column: span 2;
                        }
                        .img-wrapper{
                            overflow: hidden;
                            height: 100%;
                            &:hover{
                                img{
                                    transform: scale(1.1);
                                }
                            }
                            img{
                                width: 100%;
                                height: 100%;
                                object-fit: cover;
                                object-position: center;
                                transition: all 0.5s;
                            }
                        }
                    }
                }
            }
        }
    }
}
.about{
    .description{
        font-size: 16px;
  line-height: 30px;
  font-weight: normal;

  &:last-child {
    margin-bottom: 0;
  }
    }
    .service-item {
    position: relative;
    padding-top: 40px;
    &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 2px;
    background-image: linear-gradient(90deg, $colorPrimary 7.5%,  rgba($colorSecondary, 0.1) 7.5%);
}
&:hover{
    h4{
        color: $colorPrimary;
    }
}
}
.icon {
   width: 9rem;
    height: 9rem;
    position: relative;
    margin-right: 50px;
    line-height: 0;
    border-radius: 10px;
    flex-shrink: 0;
    z-index: 0;
    &.sdg-5{
        background: #ff6f63;
        &::before{
            background: rgba(#ff6f63, 0.3);
        }
    }
    &.sdg-1{
        background: #ff183c;
        &::before{
            background: rgba(#ff183c, 0.3);
        }
    }
    &.sdg-3{
        background: #008325;
        &::before{
            background: rgba(#008325, 0.3);
        }
    }
    &.sdg-15{
        background: #67c956;
        &::before{
            background: rgba(#67c956, 0.3);
        }
    }
    &.sdg-16{
        background: #1c74a8;
        &::before{
            background: rgba(#1c74a8, 0.3);
        }
    }
    &.sdg-4{
        background: #b90f1d;
        &::before{
            background: rgba(#b90f1d, 0.3);
        }
    }
    &.sdg-9{
        background: #ff4919;
        &::before{
            background: rgba(#ff4919, 0.3);
        }
    }
    &.sdg-11{
        background: #ff730d;
        &::before{
            background: rgba(#ff730d, 0.3);
        }
    }
    &.sdg-17{
        background: #176394;
        &::before{
            background: rgba(#176394, 0.3);
        }
    }
    &.sdg-10{
        background: #eb0570;
        &::before{
            background: rgba(#eb0570, 0.3);
        }
    }
    &.sdg-16{
        background: #1970a4;
        &::before{
            background: rgba(#1970a4, 0.3);
        }
    }
    &.sdg-6{
        background: #00d7ed;
        &::before{
            background: rgba(#00d7ed, 0.3);
        }
    }
    &::before {
    position: absolute;
    content: "";
    height: 30px;
    width: 30px;
    border-radius: 50px;
    z-index: 1;
    bottom: -15px;
    right: -15px;
    transition: 0.3s;
    mix-blend-mode: color-dodge;
}
img {
    max-width: 100%;
    height: auto;
    aspect-ratio: 1;
    object-fit: contain;
    padding: 7px;
    object-position: center;
}
}
h4.title {
    font-weight: 700;
    margin-bottom: 15px;
    font-size: 18px;
    color: $colorPrimary;
    transition: $transition;
}
.content-para{
    margin-bottom: 3rem;
    text-align: center;
        transition: $transition;
    @media screen and (min-width:992px) {
        padding: 0 200px;
    }
}
.sdg-link {
  color: $colorPrimary;
  font-weight: 700;
  font-size: initial;
  transition: all 0.3s;
  &:hover {
    color: $colorFifth;
 }
}
}
.our-programms{
    padding-top: 7rem;
    padding-bottom: 7rem;
    background: #f7f7f7;
    position: relative;
                    &::before{
                        content: "";
                        background-image: url(../images/bg-01.jpg);
                        position: absolute;
                        left: 0;
                        bottom: 0;
                        width: 100%;
                        height: 100%;
                        background-repeat: no-repeat;
                        background-size: contain;
                        opacity: 0.4;
                        background-position: bottom left;
    transform: rotateZ(180deg);
                    }
                    .container{
                        position: relative;
                    }
    @media screen and (max-width:767.9px) {
        padding-top: 3rem;
    }
    span.inaugral-heads {
    display: inline-block;
    position: relative;
    color: $colorWhite;
    padding: 8px 30px;
    background: $colorPrimary;
    border-radius: 30px;
    margin-bottom: 30px;
    z-index: 1;
    margin-top: 20px;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 16px;
    @media screen and (max-width:767.9px) {
        display: block;
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
    }
}


.ondayevent{
    background: rgba($colorWhite, $alpha: 1);
    border: 1px solid rgba($colorSecondary, 0.2);
    box-shadow: rgba(99, 99, 99, 0.1) 0px 2px 8px 0px;
    padding: 15px 30px;
    border-radius: 20px;
    @media screen and (max-width:767.9px) {
        padding: 15px 20px;
    }
    p {
        padding-left:30px;    
        display: block;
    padding-bottom: 5px;
    position: relative;
    &::before {
        content: "";
        position: absolute;
        background-image: url(../images/check.png);
        background-size: contain;
        width: 25px;
        height: 15px;
        left: 0;
        top: 6px;
        background-repeat: no-repeat;
    }
    }
    strong{
        display:block;
        padding-bottom:6px;
    }
}
.sepevents.last{
    margin-top: 40px;
}
    .space80 {
        height: 3rem;
        @media screen and (max-width:767.9px) {
            height: 1rem;
        }
    }
    .nav-pills button.nav-link.active{
        background: $colorSecondary;
        position: relative;
        .sup-day{
            color: $colorSecondary!important;
        }
        &::before{
            content: "";
            position: absolute;
            width: 20px;
            height: 20px;
            background: $colorSecondary;
            bottom: -10px;
            left: 50%;
            transform: translateX(-50%) rotate(45deg);
            z-index: -1;
            @media screen and (max-width:576px) {
                background: $colorWhite;
                height:100%;
                width: 15px;
                left: 2px;
                bottom: 0;
                transform: none;
                z-index: 1;
                clip-path: polygon(100% 50%, 0 0, 0 100%);
            }
        }
    }
    .nav-pills {
        li.nav-item{
            @media screen and (max-width:576px) {
                width: 100%;
                &:nth-child(2){
                    border-top: 3px solid $colorWhite;
                    border-bottom: 3px solid $colorWhite;
                }
            }
            @media screen and (min-width:576.1px) {
                width: 33.33%;
                &:nth-child(2){
                    border-left: 3px solid $colorWhite;
                    border-right: 3px solid $colorWhite;
                }
            }
        }
        button.nav-link{
            font-weight: 700;
            padding: 1rem 0;
            width: 100%;
            font-size: 1.4rem;
            @media screen and (max-width:991.9px) {
                line-height: 1.3;
            }
            @media screen and (max-width:576px) {
                br{
                    display: none;
                }
            }
            @media screen and (min-width:992px) {
                br{
                    display: none;
                }
            }
            @media screen and (max-width:768px) {
                padding: 1rem;
            }
            line-height: 1;
            border-radius: 0;
            background: $colorPrimary;
            color: $colorWhite;
            .sup-day{
                background: $colorWhite;
                color: #48bf53;
                font-size: 12px;
                font-weight: 900;
                padding: 2px 10px;
                margin-right: 10px;
                display: inline-block;
                border-radius: 11px;
                line-height: normal;
                @media screen and (max-width:991.9px) and (min-width:576.1px) {
                    display: block;
                    margin: 0 auto 10px auto;
                    width: fit-content;
                }
                @media screen and (max-width:576px) {
                    display: inline-block;
                    margin-right: 10px;
                }
            }
        }
    }
}
.threads-area{
    .threads-grid{
        @include respond (minWidth992){
            display: flex;
        align-items: center;
        flex-wrap: wrap;
        &:first-child{
            .content-para{
                margin-left: auto;
                padding-right: 2rem;
            }
        }
        &:last-child{
                    flex-direction: row-reverse;
                    .content-para{
                margin-right: auto;
                padding-left: 3rem;
            }
                }
        }
        .threads-grid-items{
            @include respond (maxWidth992){
                padding: 0 1.5rem;
            }
            @include respond (minWidth992){
                flex: 0 0 50%;
            max-width: 50%;
            h2{
                text-align: left;
            }
            .content-para{
             @media screen and (min-width:992px) and (max-width:1199.9px) {
                max-width: 48rem;
             }
             @media screen and (min-width:1200px) and (max-width:1399.9px) {
                max-width: 57rem;
             }
             
             @media screen and (min-width:1400px) {
                max-width: 66rem;
             }   
            }
            }
        }
    }
}
.about-lucknow{
    position: relative;
    padding: 7rem 0;
    @include respond(maxWidth992) {
    margin: 5rem 0;
  }

  @include respond(maxWidth768) {
    margin: 3rem 0;
  }
  background-image: url(../images/lucknow-bg.jpg);
  background-position: center;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  &::before{
    content: "";
    background: #000;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0.3;
  }
  .container{
    position: relative;
  }
  .rumy{
    background: rgba($colorWhite, $alpha: 0.7);
    padding: 4rem;
    backdrop-filter: blur(2px);
    box-shadow: $boxShadowOne;
    p{
        font-size: 1.8rem;
        font-weight: 600;
    }
    ul{
        margin-top: 3rem;
        li{
            font-weight: 600;
            font-size: 1.8rem;
            &::before{
                background-image: url(../images/primary-list-01.png);
            }
            &:not(:last-child){
                padding-bottom: 1rem;
            }
        }
    }
  }
}
.past-speakers{
                    padding-bottom: 7rem;

  @include respond(maxWidth992) {
    padding-bottom: 5rem;
  }

  @include respond(maxWidth768) {
    padding-bottom: 3rem;
  }
    .row{
        row-gap: 2rem;
    }
    .speakers-card{
        box-shadow: $boxShadowOne;
        text-align: center;
        background: #f7f7f7;
        border: 1px solid #ccc;
        padding: 30px 0;
        border-radius: 10px 10px 0 0;
        position: relative;
        transition: $transition;
        &:hover{
            transform: translateY(-5px);
            box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
            &::before{
                width: 100%;
            }
        }
        &::before{
            position: absolute;
            content: "";
            background: $colorPrimary;
            bottom: 0;
            left: 0;
            height: 3px;
            width: 0;
            transition: $transition;
        }
        .speakers-pics{
            overflow: hidden;
            display: inline-block;
    border-radius: 50%;
    margin-bottom: 3rem;
    outline: 3px solid $colorSecondary;
    border: 3px solid transparent;
            img{
                transition: $transition;
                width: 19rem;
                height: 19rem;
                object-fit: cover;
            }
        }
        .speakers-info{
            .name{
                font-weight: 700;
                color: $colorPrimary;
                margin-bottom: 0;
                line-height: 1.6;
            }
            .designation{
                font-weight: 500;
                display: block;
                margin-bottom: 1rem;
                padding: 0 30px;
            }
            .venue{
                font-weight: 600;
                color: $colorSecondary;
                display: inline-block;
                border-top: 1px groove;
                border-bottom: 1px groove;
                padding: 5px 15px;
                border-color: $colorSecondary;
            }
        }
    }
}
.synergy-awards{
    .awards-pic{
            position: relative;
            margin-right: 1rem;
            margin-bottom: 4rem;
            .certfy{
            }
            .trophy{
                position: absolute;
                right: 0;
                bottom: 0;
                width: 15rem;
                background: rgba($colorWhite, $alpha: 1);
                border: 2px solid $colorPrimary;
                padding: 20px;
            }
        }
        .real-ch-grid{
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            gap: 1rem;
            @media screen and (max-width:1200px) and (min-width:992px) {
                grid-template-columns: repeat(2, 1fr);
            }
            @media screen and (max-width:768px) and (min-width:575px) {
                grid-template-columns: repeat(2, 1fr);
            }
            @media screen and (max-width:992px) {
                margin-bottom: 2rem;
            }
            @media screen and (max-width:575px) {
                grid-template-columns: repeat(1, 1fr);
            }
            .real-box{
                background: $colorPrimary;
                text-align: center;
                padding: 1rem 0;
                width: 100%;
                span{
                    color: rgba($colorWhite, $alpha: 1);
                    font-weight: 400;
                    font-size: 14px;
                }
            }
        }
        ul{
            li{
                &:not(:last-child){
                    margin-bottom: 1rem;
                }
            }
        }
}
.experience-section {
  margin-top: 7rem;
  .owl-item.active:not(.center){
    .col .card{
      background: #f2f2f2;
    }
  }
  .col {
    padding: 10px;
}
  .card .card-image {
    overflow: hidden;
    img.card-img-top {
      object-fit: cover;
      width: 200px;
    height: 200px;
    outline: 5px solid $colorSecondary;
    border: 3px solid rgba($colorWhite, $alpha: 1);
    margin: 50px auto;
    border-radius: 50%;
    }
  }
  .flag {
    text-align: center;
    margin-bottom: 20px;
    color: $colorPrimary;
  }

  .flag img {
    width: 50px !important;
    border-radius: 50%;
  }
  .card-text {
    text-align: center;
    color: $colorPrimary;
    @include respond (minWidth1200) {
      min-height: 88px;
    }
    
  }

  .card-title{
        font-size: 2rem;
    font-weight: 700;
    color: $colorPrimary;
    letter-spacing: 0.3px;
    }
}


.latest-news {
    margin-top: 4rem;
    @include respond(maxWidth992) {
    margin-top: 2rem;
  }

  @include respond(maxWidth768) {
    margin-top: 3rem;
  }
  .news-arapper{
    position: relative;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    margin: 1rem 0;
    text-align: center;
    &::before {
  content: "";
  background: #11823b;
  position: absolute;
  bottom: 0;
  width: 0;
  height: 3px;
  left: 0;
  transition: all 0.5s;
}
&:hover{
    &::before {
  width: 100%;
}
}
    .news-img{
        img{
            height: 251.48px;
            width: 100%;
            object-fit: cover;
            object-position: top;
            transition: 4.5s ease-in-out;
        }
    }
    a{
        margin-bottom: 2rem;
    }
  }
  .owl-nav {
  display: flex;
  justify-content: flex-end;
  gap: 7.5px;
  button{
    background: #11823b;
  color: #fff;
  width: 35px;
  height: 35px;
  display: grid;
  place-content: center;
  margin-top: 30px;
  transition: all 0.4s;
    i{
        
 &:hover{
    background: $colorSecondary;
 }
    }
  }
}
.news-img {
  overflow: hidden;
  margin-bottom: 2rem;
  &:hover{
    img {
  object-position: bottom;
  transform: scale(1.1);
}
  }
  img{
    transition: $transition;
  }
}
}




@media screen and (max-width: 767.9px) {
  .latest-news {
    padding-bottom: 3rem;
  }

  .news-arapper .news-img img {
    height: 178px;
  }
}
.reading-wars{
    .col-lg-4:not(:last-child){
        .card-war{
            margin-bottom: 3rem;
        }
    }
    .card-war{
        box-shadow: $boxShadowOne;
        &:hover{
            img{
                transform: scale(1.2);
            }
            h4{
                color: $colorSecondary;
            }
        }
    }
    .card-war-image {
        overflow: hidden;
    img{
        height: 237px;
        transition: $transition;
        width: 100%;
        object-fit: cover;
        object-position: center;
    }
}
    .card-war-content {
    padding: 30px 20px 20px 20px;
    @media screen and (min-width:1400px) {
        min-height: 400px;
    }
    @media screen and (min-width:1200px) and (max-width:1399.9px) {
        min-height: 490px;
    }
    @media screen and (min-width:992px) and (max-width:1199.9px) {
        min-height: 550px;
    }
    h4{
        text-align: center;
        text-transform: uppercase;
        transition: $transition;
    }
}
}

.welcome-now{
    figcaption {
  font-family: "Open Sans", sans-serif;
  line-height: 1.82;
    font-size: 16px;
  @media screen and (min-width:576.1px) and (max-width:992px) {
    font-size: 15px;
  }
  @media screen and (max-width: 576px) {
    line-height: 26px;
    font-size: 15px;
  }
}
figure {
    margin: 0;
    text-align: center;
    border: 2px solid #fff;
    outline: 3px solid $colorPrimary;
    border-radius: 10px 10px;
    &.qr-code{
      img{
        @media screen and (min-width:768px) {
          height: 7rem;
        }
        @media screen and (max-width:767.9px) {
          height: 7rem;
        }
      }
    }
    figcaption{
        background: $colorPrimary;
        color: $colorWhite;
        text-transform: uppercase;
        text-align: center;
        padding: 5px 0;
        border-radius: 0 0 10px 10px;
        font-size: 12px;
    }
}
ul{
    padding: 15px 10px;
    list-style: none;
    margin-bottom: 0;
    li{
        font-size: 14px;
    }
}
.sunita__img img {
    height: 20rem;
}
.link-one{
    @include respond (maxWidth992){
        margin-bottom: 3rem;
        text-align: center;
    }
}
}
.rajnath{
    
            background: $colorPrimary;
            .rajnath-grid{
    @media screen and (min-width:1200px) {
        display: flex;
    flex-wrap: wrap;
    align-items: center;
    }
    .rajnath-grid-item{
       @media screen and (min-width:1200px) {
         flex: 0 0 50%;
        max-width: 50%;
       }
        .img-wrapper{
            overflow: hidden;
            img{
                @include respond (maxWidth992){
                    height: 33rem;
                }
                @media screen and (max-width:1199.9px) and (min-width:992px) {
                    height: 55rem;
                }
                @media screen and (min-width:1200px) and (max-width:1399.9px) {
                    height: 50rem;
                }
                @media screen and (min-width:1400px) {
                    height: 45rem;
                }
                width: 100%;
                object-fit: cover;
                object-position: center;
            }
        }
        .rajnath-content{
            @include respond (maxWidth992){
                padding-left: 2rem;
                padding-right: 2rem;
            }
            span{
                font-size: 3rem;
                line-height: 1;
                @include respond (maxWidth768){
                    font-size: 1.8rem;
                }
            }
            li{
                font-weight: 400;
            }
            .r-sign{
                text-align: right;
                margin-top: 2rem;
                img{
                    width: 18rem;
                    transform: rotate(-10deg) translateX(-10px);
                }
            }
            @media screen and (max-width:1199.9px) {
                padding-top: 4rem;
                padding-bottom: 4rem;
            }
            @media screen and (min-width:992px) {
                margin-right: auto;
        padding-left: 3rem;
            }
            @media screen and (min-width:992px) and (max-width:1199.9px) {
                max-width: 100%;
                margin-right: 3rem;
             }
             @media screen and (min-width:1200px) and (max-width:1399.9px) {
                max-width: 57rem;
             }
             
             @media screen and (min-width:1400px) {
                max-width: 66rem;
             }   
        }
    }
}
.owl-nav {
    position: absolute;
    bottom: 10px;
    right: 10px;
}
}

.world-largest-school{
    .founder-card{
        text-align: center;
    .founder-pics{
        overflow: hidden;
    display: inline-block;
    border-radius: 50%;
    margin-bottom:0.5rem;
    outline: 3px solid #48bf53;
    border: 3px solid transparent;
    &:hover{
        img{
            transform: scale(1.1);
        }
    }
        img{
            transition: $transition;
            width: 19rem;
    height: 19rem;
    object-fit: cover;
        }
    }
    .founder-info{
        
    }
}
.col-md-6{
    &:first-child{
        @include respond (maxWidth768){
            margin-bottom: 2rem;
        }
        .content-para{
            border-color: #0b54a0;
        }
    }
    &:last-child{
        .content-para{
            border-color: #11823b;
        }
    }
}
.content-para{
    padding: 2rem;
    border: 2px solid;
    border-radius: 1rem;
    .cms{
        float: left;
    height: 6rem;
    padding: 1rem;
    margin-right: 2rem;
    margin-bottom: 1.5rem;
    margin-top: 1.5rem;
    background: #0b54a0;
    }
    .devi{
        float: left;
    height: 6rem;
    margin-right: 2rem;
    margin-bottom: 1.5rem;
    margin-top: 1.5rem;
    }
}
.img-wrapper{
    margin-top: 4rem;
    overflow: hidden;

}
}
.alfa-implementation {
  @media screen and (min-width: 768.1px) {
    .row.mobile {
      display: none;
    }
  }
  @media screen and (max-width: 768px) {
    .row.desktop {
      display: none;
    }
  }
  ul.nav-pills {
    flex-direction: column;
    .nav-item {
      &:not(:last-child) {
        border-bottom: 1px solid $colorWhite;
      }
      &:first-child{
        .nav-link{
            border-radius: 1rem 1rem 0 0;
        }
      }
      &:last-child{
        .nav-link{
            border-radius: 0 0 1rem 1rem;
        }
      }
    }
    .nav-link {
      text-align: left;
      width: 100%;
      background: $colorPrimary;
      color: $colorWhite;
      padding: 14.5px 10px;
      p {
        margin-bottom: 0;
        strong {
    font-size: 1.5rem;
    font-weight: normal;
    @media screen and (max-width:1200px){
        font-size: 1rem;
    }
}
      }
      &.active {
        background: $colorSecondary;
      }
    }
  }
  .partnerGrid {
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    justify-content: center;
    @media screen and (min-width: 768.1px) and (max-width: 1199.9px) {
      grid-template-columns: repeat(1, 1fr);
    }
    @media screen and (max-width: 768px) {
      grid-template-columns: repeat(3, 1fr);
      gap: 10px;
      display: grid;
    }
    .partnerGridItems {
      overflow: hidden;
      border: 3px solid $colorWhite;
      outline: 3px solid $colorSecondary;
      border-radius: 10px;
      @media screen and (min-width:768px) {
        position: relative;
        flex: 0 0 calc(33.33% - 10px);
        max-width: calc(33.33% - 10px);
        &::before{
        content: "";
        background-image: radial-gradient(transparent, rgba($colorWhite, 0.25));
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        opacity: 0;
        visibility: hidden;
        transition: $transition;
        height: 100%;
      }
      }
      @media screen and (max-width: 576px) {
        border: 1px solid #fff;
        outline: 2px solid $colorSecondary;
        border-radius: 5px;
      }
      &:hover {
      &::before{
      opacity: 1;
      visibility: visible;
      z-index: 1;
      }
        img {
          transform: scale(1.2);
        }
      }
      img {
        transition: all 0.5s ease-in;
        @include respond (minWidth992){
            min-height: 207.31px;
            object-fit: cover;
            object-position: top;
        }
      }
    }
  }
  @media screen and (max-width: 768px) {
    .accordion-button {
      background-color: $colorPrimary;
      background-repeat: no-repeat;
      background-size: cover;
      color: $colorWhite;
      padding: 10px;
      &:focus,
      &:focus-visible {
        box-shadow: none;
      }
      &::after {
        filter: brightness(0) invert(8);
        transform: scale(0.7);
      }
      &.accordion-button:not(.collapsed) {
        color: $colorWhite !important;
        background-image: url(../images/bg/yellow-background.jpg);
      }
      p {
        margin: 0;
      }
    }
  }
}
.just-45-days{
    .fastest{
        font-size: 3rem;
    line-height: 1;
    font-weight: 700;
    @include respond (maxWidth768){
        font-size: 2rem;
        font-weight: 500;
        line-height: normal;
    }
    }
    .evidence{
        font-size: 2.4rem;
    line-height: 1;
    margin-bottom: 3rem;
    margin-top: 2rem;
    padding: 1rem;
    background: $colorPrimary;
    display: inline-block;
    color: rgba($colorWhite, $alpha: 1);
    @include respond (maxWidth768){
        font-size: 1.8rem;
        font-weight: 500;
        line-height: normal;
    }
    }
    .district-grid{
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 2.5rem;
        @include respond (maxWidth992){
            margin-bottom: 2rem;
        }
        @include respond (maxWidth768){
            flex-direction: column;
            img{
                rotate: (90deg);
                transform: scale(0.25);
            }
        }
        .district-items{
            .circle{
                width: 18rem;
                height: 18rem;
                background: rgba($colorWhite, $alpha: 1);
                border: 1.4rem solid $colorPrimary;
                text-align: center;
                border-radius: 100%;
                display: grid;
                place-content: center;
                strong{
                    font-size: 3rem;
                    font-weight: 700;
                    color: $colorPrimary;
                }
                .how-much{
                    line-height: 1;
                    font-size: 1.8rem;
                }
            }
        }
    }
    .g-literacy{
        figure{
            position: relative;
            height: 40rem;
            &::before{
                content: "";
                background: #000;
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                opacity: 0.3;
            }
            @include respond (minWidth992){
                height: 42rem;
            }
            img{
                width: 100%;
            height: 100%;
            object-fit: cover;
            object-position: top;
            }
            figcaption{
                position: absolute;
                bottom: 0;
                left: 0;
                background: rgba($colorPrimary, 0.8);
                color: $colorWhite;
                padding: 0.5rem 3rem;
                @include respond (minWidth992){
                    font-size: 2rem;
                }
            }
        }
    }
}